test/input/input.json
[
    {
       "id":"88c2e0f2.6281b",
       "type":"tab",
       "label":"fl1",
       "disabled":false,
       "info":""
    },
    {
       "id":"f861db73.0f96d8",
       "type":"tab",
       "label":"Flow 2",
       "disabled":false,
       "info":""
    },
    {
       "id":"9f4ca029.7c1e1",
       "type":"subflow",
       "name":"sub",
       "info":"",
       "category":"",
       "in":[
          {
             "x":100,
             "y":100,
             "wires":[
                {
                   "id":"1f9b6ed6.24c801"
                }
             ]
          }
       ],
       "out":[
          {
             "x":400,
             "y":220,
             "wires":[
                {
                   "id":"1f9b6ed6.24c801",
                   "port":0
                }
             ]
          }
       ]
    },
    {
       "id":"9904540.031acb",
       "type":"websocket-listener",
       "z":"",
       "path":"/ws/timestamp",
       "wholemsg":"false"
    },
    {
       "id":"ff7742d.6c102c",
       "type":"http in",
       "z":"88c2e0f2.6281b",
       "name":"",
       "url":"/in",
       "method":"get",
       "upload":false,
       "swaggerDoc":"",
       "x":110,
       "y":280,
       "wires":[
          [
             "d4d0cbc.153d438"
          ]
       ]
    },
    {
       "id":"1f9b6ed6.24c801",
       "type":"function",
       "z":"9f4ca029.7c1e1",
       "name":"func",
       "func":"\nreturn msg;",
       "outputs":1,
       "noerr":0,
       "x":250,
       "y":160,
       "wires":[
          [
 
          ]
       ]
    },
    {
       "id":"d4d0cbc.153d438",
       "type":"subflow:9f4ca029.7c1e1",
       "z":"88c2e0f2.6281b",
       "name":"",
       "x":320,
       "y":240,
       "wires":[
          [
             "3bb6841b.36eeac"
          ]
       ]
    },
    {
       "id":"3bb6841b.36eeac",
       "type":"http response",
       "z":"88c2e0f2.6281b",
       "name":"",
       "statusCode":"200",
       "headers":{
 
       },
       "x":540,
       "y":140,
       "wires":[
 
       ]
    },
    {
       "id":"352c2cb4.c398b4",
       "type":"inject",
       "z":"f861db73.0f96d8",
       "name":"up",
       "topic":"",
       "payload":"",
       "payloadType":"date",
       "repeat":"",
       "crontab":"",
       "once":false,
       "onceDelay":0.1,
       "x":330,
       "y":140,
       "wires":[
          [
             "f366bdc7.ff73c"
          ]
       ]
    },
    {
       "id":"f366bdc7.ff73c",
       "type":"e-mail",
       "z":"f861db73.0f96d8",
       "server":"smtp.gmail.com",
       "port":"465",
       "secure":true,
       "name":"",
       "dname":"",
       "x":540,
       "y":140,
       "wires":[
 
       ]
    }
 ]
 