test/input/batch/sub/flow2.json
[
    {
       "id":"e1df90c2.2d30f",
       "type":"subflow",
       "name":"Subflow 1",
       "info":"",
       "in":[
          {
             "x":180,
             "y":140,
             "wires":[
                {
                   "id":"e4d5312f.a250d"
                }
             ]
          }
       ],
       "out":[
 
       ]
    },
    {
       "id":"e4d5312f.a250d",
       "type":"udp out",
       "z":"e1df90c2.2d30f",
       "name":"",
       "addr":"",
       "iface":"",
       "port":"",
       "ipv":"udp4",
       "outport":"",
       "base64":false,
       "multicast":"false",
       "x":340,
       "y":140,
       "wires":[
 
       ]
    },
    {
       "id":"c9691fd0.be5ad",
       "type":"tab",
       "label":"Flow 2",
       "disabled":false,
       "info":""
    },
    {
       "id":"6b103898.760d78",
       "type":"inject",
       "z":"c9691fd0.be5ad",
       "name":"",
       "topic":"",
       "payload":"",
       "payloadType":"date",
       "repeat":"",
       "crontab":"",
       "once":false,
       "onceDelay":0.1,
       "x":200,
       "y":120,
       "wires":[
          [
             "b33984be.0d6698"
          ]
       ]
    },
    {
       "id":"b33984be.0d6698",
       "type":"subflow:e1df90c2.2d30f",
       "z":"c9691fd0.be5ad",
       "name":"",
       "x":460,
       "y":120,
       "wires":[
 
       ]
    }
 ]
 